.features {
  background: $white;
  position: relative;
  padding: 100px 0;

  @media #{$lg} {
    padding: 85px 0;
  }

  @media #{$md} {
    padding: 75px 0;
  }
  @media #{$sm} {
    padding: 60px 0;
  }

  @media #{$xs} {
    padding: 50px 0;
  }

  .features-shape {
    img {
      position: absolute;
      &.features-dot {
        left: 2%;
        top: 24%;
        -webkit-animation: features-dot-1 4s linear 0s infinite alternate;
        -moz-animation: features-dot-1 4s linear 0s infinite alternate;
        -o-animation: features-dot-1 4s linear 0s infinite alternate;
        animation: features-dot-1 4s linear 0s infinite alternate;
      }
      &.features-dot-2 {
        right: 5%;
        top: 23%;
        -webkit-animation: features-dot-2 4s linear 0s infinite alternate;
        -moz-animation: features-dot-2 4s linear 0s infinite alternate;
        -o-animation: features-dot-2 4s linear 0s infinite alternate;
        animation: features-dot-2 4s linear 0s infinite alternate;
      }
      &.feature-dot-3 {
        bottom: 2%;
        right: 12%;
        -webkit-animation: features-dot-1 4s linear 0s infinite alternate;
        -moz-animation: features-dot-1 4s linear 0s infinite alternate;
        -o-animation: features-dot-1 4s linear 0s infinite alternate;
        animation: features-dot-1 4s linear 0s infinite alternate;
      }
      &.features-triangle-1 {
        top: 17%;
        left: 19%;
        -webkit-animation: features-triangle-1 5s linear infinite;
        -moz-animation: features-triangle-1 5s linear infinite;
        -o-animation: features-triangle-1 5s linear infinite;
        animation: features-triangle-1 5s linear infinite;
      }
      &.features-triangle-2 {
        left: 10%;
        top: 55%;
        -webkit-animation: features-triangle-1 5s linear infinite;
        -moz-animation: features-triangle-1 5s linear infinite;
        -o-animation: features-triangle-1 5s linear infinite;
        animation: features-triangle-1 5s linear infinite;
      }
      &.features-triangle-3 {
        right: 10%;
        bottom: 18%;
        -webkit-animation: features-triangle-1 5s linear infinite;
        -moz-animation: features-triangle-1 5s linear infinite;
        -o-animation: features-triangle-1 5s linear infinite;
        animation: features-triangle-1 5s linear infinite;
      }
    }
  }

  .feature-heading {
    max-width: 570px;
    margin: 0 auto 75px;
    text-align: center;

    .section-title {
      background: $bg-purple;
      color: $text-purple;
    }

    h2 {
      font-size: 40px;
      line-height: 52px;
      margin-bottom: 15px;
      @media #{$xs} {
        font-size: 25px;
        line-height: 40px;
      }
    }
  }

  .features-tab {
    .features-item {
      margin-bottom: 20px;
      padding: 30px 25px;
      border: none;
      width: 100%;
      font-size: 18px;
      font-weight: 700;
      color: #070337;
      border-radius: 4px;
      display: flex;
      align-items: center;
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      cursor: pointer;
      &.pink {
        background: #fff6fa;
      }
      &.blue {
        background: #cdedff;
      }
      &.yellow {
        background: #fff9ed;
      }
      i.bx-notepad {
        color: #fe0c7d;
      }
      i.bx-book {
        color: #03a6ff;
      }
      i.bx-bar-chart-alt-2 {
        color: #fbad26;
      }
      &.active {
        color: $white;
        &.pink {
          background: #fe0c7d;
        }
        &.blue {
          background: #03a6ff;
        }
        &.yellow {
          background: #fbad26;
        }
        i {
          color: $white;
        }
      }
      .features-icon {
        margin-right: 15px;
        font-size: 25px;
      }
    }
  }

  .ml {
    margin-left: 8.3333%;
    @media #{$lg} {
      margin-left: 0;
    }
    @media #{$md} {
      margin-left: 0;
    }
    @media #{$sm} {
      margin-left: 0;
    }
    @media #{$xs} {
      margin-left: 0;
    }
  }
  .features-pane {
    .pane-image {
      display: none;
      &.active {
        display: block;
      }
    }
    .pane-inner {
      position: relative;
      @media #{$md} {
        margin-top: 50px;
      }
      @media #{$sm} {
        margin-top: 50px;
      }
      @media #{$xs} {
        margin-top: 50px;
      }
      img {
        border-radius: 6px;
        box-shadow: 0px 30px 70px 0px rgba(11, 6, 70, 0.12);
        -webkit-animation: features-thumb 2s linear infinite alternate;
        -moz-animation: features-thumb 2s linear infinite alternate;
        -o-animation: features-thumb 2s linear infinite alternate;
        animation: features-thumb 2s linear infinite alternate;
        &.fea-thumb {
          @media #{$lg} {
            width: 100%;
          }
          @media #{$md} {
            width: 100%;
          }
          @media #{$sm} {
            width: 100%;
          }
          @media #{$xs} {
            width: 100%;
          }
        }
        &.fea-sm {
          position: absolute;
          left: 125px;
          bottom: -50px;
          animation: features-thumb-sm 4s linear infinite alternate;
          -webkit-animation: features-thumb-sm 4s linear infinite alternate;
          -moz-animation: features-thumb-sm 4s linear infinite alternate;
          -o-animation: features-thumb-sm 4s linear infinite alternate;
          @media #{$xs } {
            left: -10px;
          }
        }
        &.fea-sm-2 {
          position: absolute;
          right: -45px;
          top: 95px;
          -webkit-animation: features-thumb-sm-2 4s linear infinite alternate;
          -moz-animation: features-thumb-sm-2 4s linear infinite alternate;
          animation: features-thumb-sm-2 4s linear infinite alternate;
          -o-animation: features-thumb-sm-2 4s linear infinite alternate;
          @media #{$lg} {
            right: -20px;
          }
          @media #{$md} {
            right: -20px;
          }
          @media #{$sm} {
            right: -20px;
          }
          @media #{$xs} {
            right: 20px;
          }
        }
      }
    }
  }
}

.features-area {
  padding: 100px 0;
  position: relative;
  background: $white;
  .features-area--shape {
    img {
      position: absolute;
      &.features-cirlce-1 {
        left: 4%;
        top: 29%;
      }
    }
  }
  .features-area--heading {
    max-width: 550px;
    margin-bottom: 50px;
    h2 {
      font-size: 40px;
      color: $heading-2;
      margin-bottom: 25px;
    }
    p {
      margin-bottom: 15px;
      font-size: 15px;
      line-height: 26px;
    }
  }
  .features-area--item {
    margin-bottom: 30px;
    &.end {
      float: right;
      @media #{$md} {
        float: unset;
      }
      @media #{$sm} {
        float: unset;
      }
      @media #{$xs } {
        float: unset;
      }
    }
    .features-area--icon {
      margin-bottom: 35px;
      span {
        display: inline-block;
        width: 60px;
        height: 60px;
        border-radius: 100rem;
        line-height: 66px;
        text-align: center;
        i {
          color: $white;
          font-size: 25px;
        }
      }
      .gradien-pink {
        background-image: linear-gradient(
          90deg,
          #fe0c7d 0%,
          #ff58a8 53%,
          #ffa4d2 100%
        );
        box-shadow: 0px 20px 16px 0px rgb(254 12 125 / 16%);
      }
      .gradient-blue {
        background-image: linear-gradient(
          90deg,
          #023cfd 0%,
          #0372fe 53%,
          #03a7ff 100%
        );
        box-shadow: 0px 20px 16px 0px rgb(2 60 253 / 16%);
      }
      .gradient-yellow {
        background-image: linear-gradient(
          90deg,
          #e69303 0%,
          #f3b704 53%,
          #ffda04 100%
        );
        box-shadow: 0px 20px 16px 0px rgb(246 157 3 / 16%);
      }
      .gradient-purple {
        background-image: linear-gradient(
          90deg,
          #6a2fff 0%,
          #8c3dff 53%,
          #ae4aff 100%
        );
        box-shadow: 0px 20px 16px 0px rgb(106 47 255 / 16%);
      }
    }
    .features-area--title {
      font-size: 22px;
      margin-bottom: 32px;
    }
    .features-area--list {
      li {
        padding-left: 35px;
        font-size: 15px;
        color: #474554;
        position: relative;
        font-weight: 600;
        margin-bottom: 15px;
        &::after {
          position: absolute;
          content: "\f00c";
          font-family: "Font Awesome 5 Pro";
          left: 0;
          top: 0;
          width: 22px;
          height: 22px;
          border-radius: 100rem;
          color: #11b50d;
          text-align: center;
          line-height: 22px;
          font-size: 12px;
          background: rgba(17, 181, 13, 0.1);
        }
      }
    }
  }
}

@keyframes features-triangle-1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes features-dot-1 {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes features-dot-2 {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes features-thumb {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes features-thumb-sm {
  0% {
    transform: translate(100px, -20px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes features-thumb-sm-2 {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(50px);
  }
}
