$heading: #021937;
$heading-2: #0f1432;
$text: #6c6a8a;
$primary: #2f80ed;
$purple-2: #6c63ff;
$white: white;
$pink: #fe1a86;
$yellow: #f5a706;
$bg-gray: #f4f9fd;
$bg-purple: rgba(200, 84, 255, 0.14);
$bg-green: rgba(39, 174, 96, 0.14);
$bg-blue: rgba(47, 128, 237, 0.1);
$bg-pink: rgba(253, 75, 133, 0.1);
$text-blue: #116ae1;
$text-green: #179d50;
$text-purple: #8f16c9;
$text-pink: #e50351;

$xl: "only screen and (min-width: 1200px) and (max-width: 1399px)";
$lg: "only screen and (min-width: 992px) and (max-width: 1199px)";
$md: "only screen and (min-width: 768px) and (max-width: 991px)";
$sm: "only screen and (min-width: 576px) and (max-width: 767px)";
$xs: "(max-width: 575px)";
